


body {
    
    background: linear-gradient(to top, #ff5e62, #ff9966);
    min-height: 98vh;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    margin-bottom: 60px;
}

    #title {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 30%;
        margin-top: 30px ;
        margin-bottom: 40px;


    }

        h1 {
            height: 100%;
            font-family: 'Dela Gothic One', cursive;
            color: #F3EB08;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #4d4a03;
            font-size: 60px;
            text-align: center;
            margin-bottom: 0;
            margin-right: 20px;
        }

        #imgTitle {
            width: 100px;
        }


    #botao{
        width: 100%;
        height: 30% ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px
    }

        #startGame {
            background: linear-gradient(to top, #e44d26, #f16529); 
            color:white;
            font-size: 20px;
            font-weight: bold;
            width: 150px;
            height: 50px;
            border: 2px solid rgb(197, 192, 192);
            border-radius: 10px;
        }

        
        #restartGame {
            display: none;
            background: linear-gradient(to top, #e44d26, #f16529); 
            color:white;
            font-size: 20px;
            font-weight: bold;
            width: 150px;
            height: 50px;
            border: 2px solid rgb(197, 192, 192);
            border-radius: 10px;
        }

        #startGame:hover, #restartGame:hover  {
            background: white; 
            color: #e44d26;
        }


    #selectMap{
        width: 670px;
        height: 140px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 15px 0 5px 0;
        border-radius: 20px;
        margin-bottom: 40px;
    }

    .maps {
        height: 100%;
        width: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


    .mapAnounce{
        color: #F3EB08;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #4d4a03;
        font-family: 'Dela Gothic One', cursive;
        font-weight: bold;
        font-size: 20px;
        width: 120px;
        text-align: center;
        padding-left: 15px;
    }

    .mapTitle {
        margin: 0 0 5px 0;
        font-size: 15px ;
        font-weight: bold;
        color: #F3EB08;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #4d4a03;
        font-family: 'Dela Gothic One', cursive;

    }

    .mapSub {
        margin: 0;
        font-size: 12px ;
        font-family: "Comic Sans", sans-serif;
        color:#e44d26 ;

    }

    .mapsImg {
        background-color: white;
        padding: 5px;
        width: 120px;
        border-radius: 10px;
    }

    .mapsImg:hover{
        width: 130px;
        border: 2px solid #4d4a03;
    }




main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    width: 100%;
}

    section {
        position:relative;
        min-width: 630px;
        max-width: 630px;
        min-height: 450px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: content-box;
        padding: 20px;
        border-radius: 20px;
        background-color: white;
    }

        div {
            width: 30px;
            height: 30px;
            display:flex;
            justify-content: center;
            align-items: center;
        }

        .W {
            background-color: rgb(0, 255, 128);
        }

        .F {
            background-image: url("img/chegada.jpg") ;
            background-size: contain;
        }

        .S {
            background-color: green ;
            color:white;
            font-size: 10px ;
            font-weight: bold;
            font-family: 'comic sans', sans-serif;
        }

        #player {
            position:absolute;
            background-image: url("img/player.png");
            background-size: contain;
            border-radius: 50%;
            height: 31px;
            width: 31px; 
            box-sizing: border-box;
        }
   

article {
    width: 630px;
    min-height: 450px;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Dela Gothic One', cursive;
    -webkit-text-stroke-color: rgb(68, 68, 5);
    border: 1px rgba(133, 155, 196, 0.836) solid;
    z-index: 5;
}

    #winMsg {
        font-size: 80px;
        text-align: center;
        margin-bottom: 10px;
        color: yellow;
        -webkit-text-stroke-width: 2px;
    }

    #showCount {
        position:absolute;
        top: -20px;
        background-color: white;
        width: 100px;
        height: 30px;
        border:4px solid rgb(0, 255, 128);
        border-radius: 20px;
        display: none;
        justify-content: center;
        align-items: center;
        font-family: 'Dela Gothic One', cursive;
        color:#e44d26 ;
    }

    #movesCount {
        color:#e44d26;
        font-size: 20px;
    }

    #winRestart {
        font-size: 30px;
        text-align: center;
        color: rgb(255, 202, 58);
        -webkit-text-stroke-width: 1px;
    }


